/* hace que se habra el menu responsivo */
.off-canvas {
    --off-canvas-child-movement: 100%;
    position: fixed;
    z-index: 30;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background-color: var(--light-primary-shadow-color);
    background-color: rgba(128, 0, 128, 0.75);
    opacity: 0;
    pointer-events: none;
    transition: opacity 0.25s;

    &--show {
        opacity: 1;
        pointer-events: auto;
        --off-canvas-child-movement: 0;
    }

    &--right .off-canvas__child {
        top: 0;
        right: 0;
        transform: translateX(var(--off-canvas-child-movement));
    }

    &__child {
        position: absolute;
        width: 50%;
        height: 100%;
        padding: calc(var(--primary-element-spacing) / 2);
        box-sizing: border-box;
        background-color: rgba(169, 162, 122, 0.75);
        transition: transform 0.25s;
    }
}